In [3]:
import pandas as pd

df = pd.read_json("../data/raw/matches_sample.json", lines=True)
df

,match_id,duration,first_blood_time,dire_score,radiant_score,radiant_win,players
0,4558553516,1597,181,20.0,47.0,1.0,"[{'player_slot': 0, 'hero_id': 54, 'assists': ..."
1,4558404906,1965,217,32.0,32.0,0.0,"[{'player_slot': 0, 'hero_id': 111, 'assists':..."
2,4558138970,1945,0,53.0,28.0,0.0,"[{'player_slot': 0, 'hero_id': 120, 'assists':..."
3,4557908303,1476,0,11.0,41.0,1.0,"[{'player_slot': 0, 'hero_id': 47, 'assists': ..."
4,4557668178,1411,0,12.0,35.0,1.0,"[{'player_slot': 0, 'hero_id': 10, 'assists': ..."
...,...,...,...,...,...,...,...
9995,926832038,2095,273,NaN,NaN,0.0,"[{'player_slot': 0, 'hero_id': 11, 'assists': ..."
9996,926671017,2921,38,NaN,NaN,0.0,"[{'player_slot': 0, 'hero_id': 47, 'assists': ..."
9997,926531092,3041,32,NaN,NaN,0.0,"[{'player_slot': 0, 'hero_id': 77, 'assists': ..."
9998,926399722,2991,48,NaN,NaN,0.0,"[{'player_slot': 0, 'hero_id': 4, 'assists': 1..."
9999,926311068,1961,202,NaN,NaN,0.0,"[{'player_slot': 0, 'hero_id': 12, 'assists': ..."